#cart_count {
  position: absolute;
  color: yellow;
  right: 1%;
  top: 1%;
  font-weight: bold;
  font-size: large;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 80%;
  height: 600px;
  margin: auto;
  display: flex;
  padding: 2% 3%;
  gap: 5%;
  color: rgb(117, 117, 117);
}

#left {
  width: 55%;
  height: 60%;
  color: rgb(58, 58, 58);
}

#right {
  width: 40%;
  height: 100%;
  cursor: default;
}

#textLeftup {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 1%;
}

#total {
  color: black;
  font-size: larger;
  font-weight: bolder;
}

#textLeftdown {
  margin: 10% 0 3% 0;
  font-weight: bold;
}

#left_up {
  border-radius: 13px;
  width: 100%;
  height: 50%;
  overflow: scroll;
  padding: 3%;
  font-size: 20px;
  cursor: default;
}

#left_up > div {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 5%;
  font-size: small;
  margin-bottom: 3%;
}

#left > div:nth-child(1) {
  width: 20%;
}

#left_up > div img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#left_up button {
  margin-top: 5%;
  border: none;
  outline: none;
  width: 30%;
  height: 33%;
  border: 2px solid rgb(255, 50, 120);
  border-radius: 15px;
  cursor: pointer;
}

#left_down button {
  box-sizing: border-box;
  color: rgb(255, 50, 120);
  border: none;
  background-color: transparent;
  display: block;
  cursor: pointer;
  margin-top: 3%;
  font-weight: bold;
}

#left_down {
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  gap: 15px;
  cursor: pointer;
}

#left_down > div {
  border-radius: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 2%;
  font-size: 14px;
  background-color: rgb(221, 221, 221);
}

#left_down > div > div {
  width: 50%;
  height: 100%;
  object-fit: fill;
}

#left_up::-webkit-scrollbar {
  width: 8px;
}

#left_up::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, rgb(100, 100, 100));
  border-radius: 5px;
}

#left_down::-webkit-scrollbar {
  display: none;
}

#left_down > div img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

#address {
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 100%;
}

#instruction {
  display: flex;
  justify-content: space-between;
  height: 15%;
  width: 100%;
}

#time {
  display: flex;
  justify-content: space-between;
  height: 15%;
  width: 100%;
}

#total_price {
  width: 100%;
  height: 60%;
  margin-top: 8%;
  color: rgb(175, 175, 175);
}

#total_price > div {
  display: flex;
  justify-content: space-between;
  height: 13%;
}

#final_total {
  color: black;
  font-size: larger;
  font-weight: bolder;
}

#right_button button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 1em;
  margin-top: 20px;
  background-image: linear-gradient(
    to right,
    rgb(247, 67, 53),
    rgb(255, 48, 112)
  );
}
