/* Cart count */

#cart_count {
  position: absolute;
  color: yellow;
  right: 1%;
  top: -9px;
  font-weight: bold;
  font-size: large;
  z-index: 100;
}

/* Banner Div */

#banner {
  width: 100%;
}

#coupon {
  margin-left: 150px;
  margin-bottom: 70px;
}

#couponBase {
  color: rgb(144, 142, 142);
  font-size: 18px;
}

/* Subscription box */

#subBox {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(88, 98, 132);
  text-align: center;
  height: 500px;
}

#heading {
  color: white;
  font-size: 22px;
  padding-top: 40px;
}

#smallText {
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: rgb(156, 156, 156);
}

#box1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#b1Text {
  color: white;
  font-size: 16px;
  margin-top: 0px;
  font-weight: bold;
}

#box1 > hr {
  height: 0px;
  width: 250px;
  margin-top: 5px;
}

#box2 {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  gap: 150px;
}

#box2 > p {
  color: white;
}

#b3Text {
  color: white;
  margin-top: 40px;
  font-weight: bold;
}

#couponBox {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 80%;
  gap: 1.5%;
  margin-top: 40px;
}

#b3coupon {
  width: 32%;
}

#topBox {
  background-color: white;
  height: 63px;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 10px;
  font-size: 0.9em;
  font-weight: bold;
  border-bottom: 1px black dashed;
}

#strTxt {
  color: rgb(175, 175, 175);
  text-decoration: line-through;
}

#btmBox {
  border-radius: 10px;
  display: flex;
  padding: 0px 10px;
  gap: 10px;
  height: 40px;
  background-color: white;
  align-items: center;
}

#buy {
  color: rgb(255, 50, 120);
  font-weight: bold;
}

#btmBox > img {
  transform: scale(-1, 1);
  width: 15px;
}

#btmBox > p {
  font-size: 0.75em;
}

/* Workout Div */

#workDiv {
  width: 80%;
  margin: auto;
  margin-top: 70px;
}

#gridDiv {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

#gridDiv > img {
  width: 280px;
  border-radius: 5px;
}

/* Workout Collection */

#colDiv {
  width: 80%;
  margin: auto;
  margin-top: 80px;
}

#cardsDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

#card {
  display: flex;
  height: 280px;
  border: 1px solid rgb(233, 233, 233);
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
}

#card > div {
  padding-left: 10px;
  margin-top: -22px;
}

#cardText {
  font-size: 1.2em;
}

/* Links Div */

#links {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

#linkText {
  font-size: 1.1em;
  border-bottom: 2px solid rgb(216, 216, 216);
  font-weight: bold;
  padding-bottom: 10px;
}

/* Text Div */

#textDiv {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

#text1 {
  font-size: 4.2em;
  font-weight: bold;
}

#text2 {
  font-size: 3.3em;
  font-weight: bold;
  margin-top: -70px;
}

#text3 {
  font-size: 2.2em;
  font-weight: bold;
  color: rgb(141, 147, 160);
  margin-top: -50px;
}
