<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cult.fit - health food | fitness | meditation</title>
    <link rel="shortcut icon" href="https://static.cure.fit/assets/images/favicon-modified.png" type="image/x-icon">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/eatAdmin.css">
    <link rel="stylesheet" href="styles/footer.css">
</head>

<body>

    <!-- Navbar -->

    <div id="navbar">

    </div>

    <p id="cart_count"></p>

    <!-- Container -->

    <div id="container">

        <!-- Sliders -->

        <div class="slider_main">
            <div id="sliders">
                <img src="https://bit.ly/3HmA7Dr" alt="image">
                <img src="https://bit.ly/3p5u3Zz" alt="image">
                <img src="https://bit.ly/34YOLDA" alt="image">
            </div>
        </div>

        <!-- Menu Div -->

        <div id="menu_box">
            <div id="menu_head">
                <div id="item_select_div">
                    <div id="item_select">
                        <p id="eat_now">EAT NOW</p>
                        <ul id="ul_list">
                            <li>EAT NOW</li>
                            <li>TODAY'S DINNER</li>
                            <li>TOMORROW'S BREAKFAST</li>
                            <li>TOMORROW'S LUNCH</li>
                            <li>TOMORROW'S SNACKS</li>
                        </ul>
                    </div>
                </div>

                <div id="select_filter">
                    <span id="veg_span">VEG</span>
                    <div id="filter_img">
                        <img src="./images/filter.png">
                        <span id="filter_img_class">FILTERS</span>
                        <div id="filter_overlay">
                            <div id="upperFilt">
                                <div>CALORIES</div>
                                <div id="clearAll">Clear all</div>
                            </div>
                            <div id="calorieDiv">
                                <span id="clear_all">All</span>
                                <span id="zero">0-200</span>
                                <span id="two">200-500</span>
                                <span id="four">500+</span>
                            </div>

                            <div style="margin: 20px 0">NUTRITION</div>
                            <div id="nutTypes">
                                <div>
                                    <input type="checkbox" id="check1"> High protein
                                </div>
                                <div>
                                    <input type="checkbox" id="check2"> Low calorie
                                </div>
                                <div><input type="checkbox" id="check3"> High fiber</div>
                                <div><input type="checkbox" id="check4"> Vegan</div>
                            </div>
                            <div>
                                <button id="cancel">CANCEL</button>
                                <button id="apply">APPLY</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu">
                <div id="menu_sidebar">
                    <ul>
                        <li id="rice">3 Layer Rice Bowls</li>
                        <li id="indian">Indian Thalis</li>
                        <li id="khichdis">Khichdis</li>
                        <li id="multi">Multigrain Pizzas</li>
                        <li id="bev">Beverages</li>
                        <li id="curr">Fit Curries</li>
                        <li id="bread">Bread & Rice</li>
                        <li id="nonV">Non-Veg Curries</li>
                        <li id="kulcha">Kulcha Burger</li>
                        <li id="salads">Signature Salads</li>
                    </ul>
                </div>
                <div></div>
                <div id="dish_item">

                </div>
                <div id="createItems">
                    <p>Add dishes:</p>
                    <form method="post" id="dishForm" action="http://localhost:4000/eat">
                        <input type="text" name="img_url" placeholder="Thumbnail">
                        <input type="text" name="name" placeholder="Dish Name">
                        <input type="text" name="type" placeholder="Veg or Non-Veg">
                        <input type="text" name="cal" placeholder="Calories">
                        <input type="text" name="fiber" placeholder="Fiber">
                        <input type="text" name="price" placeholder="Offer Price">
                        <input type="text" name="str_price" placeholder="Original Price">
                        <input type="text" name="variety" placeholder="Variety">
                        <input id="dishBtn" type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <div id="footer">

    </div>
</body>

<script type="module" src="scripts/eat.js"></script>

</html>