/* Navbar cart count */

#cart_count {
  position: absolute;
  color: yellow;
  right: 1%;
  top: -9px;
  font-weight: bold;
  font-size: large;
  z-index: 100;
}

/* Main container */

#flex {
  width: 70%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  gap: 25%;
}

/* Register block */

#register {
  width: 40%;
  border: 1px solid rgb(202, 202, 202);
  padding: 10px 20px 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#regForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

#role{
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 20px;
}

/* Login block */

#login {
  width: 40%;
  border: 1px solid rgb(202, 202, 202);
  padding: 10px 20px 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1 {
  margin-bottom: 50px;
}

#logForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

input {
  width: 80%;
  height: 25px;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 10px;
  padding-left: 7px;
}

label {
  font-size: 18px;
}

#regbtn {
  margin-top: 20px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgb(202, 202, 202);
  background-color: rgb(22, 25, 35);
  color: white;
  font-size: 14px;
  width: 100px;
  cursor: pointer;
  font-weight: bold;
}

#regbtn:hover{
  transform: scale(1.05);
  transition: .5s;
}

#btn {
  margin-top: 20px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgb(202, 202, 202);
  background-color: rgb(22, 25, 35);
  color: white;
  font-size: 14px;
  width: 100px;
  cursor: pointer;
  font-weight: bold;
}

#btn:hover{
  transform: scale(1.05);
  transition: .5s;
}

#gBtn {
  background-image: url("https://avatars1.githubusercontent.com/u/7328930?v=4");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid grey;
  cursor: pointer;
}

#gBtn:hover{
  transform: scale(1.05);
  transition: .5s;
}